<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
        {% block body %}
            {% for liste in results %}
        <a href="{{ path('show_unique_liste', {liste_name: liste.name}) }}">{{ liste.name }} </a>
            {% endfor %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
